# Drizzle
DATABASE_URL=local.db

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# Backend API
BACKEND_API_URL=http://localhost:8000
